<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="arms.attendancemanagement">

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/two"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SignupActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NewCourseForm" />
        <activity android:name=".ActivityAttendanceOptions" />
        <activity android:name=".ActivityTakeAttendances" />
        <activity android:name=".ActivityConfirmAttendance" />
        <activity android:name=".ActivityConfirmOptions" />
        <activity android:name=".ViewAttendanceOptions" />
        <activity android:name=".Print" />

        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".StudentList"
            android:screenOrientation="portrait"
            />
        <activity android:name=".LoginActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ActivityEditAttendance"
            android:screenOrientation="portrait"
            />
        <activity android:name=".CourseList"
            android:screenOrientation="portrait"
            />
    </application>

</manifest>